<div class="col">
  <h1>
    <%= @post.title%>
  </h1>
  <%= image_tag @post.photo, width:500, height:500 %>
  <p>
    <%= @post.body%>
  </p>
  <div class="col">
    <% @post.images.each do |image|%>
      <%= image_tag image, width:300, height:300%>
    <%end%>
  </div>
  <div class="comments">
    <%= render "comments/form"%>
    Коментарі:
    <%= render @comments %>
  </div>
<%= link_to "Редагувати", edit_post_path(@post), :class => 'btn btn-warning' %>
<%= link_to "На головну", root_path , :class => 'btn btn-warning' %>
</div>
