<div class="">
  <h1>
    <%= @post.title%>
    <%= link_to "edit", edit_post_path(@post) if user_signed_in? && @post.user_id == current_user.id%>
    <span>
      Автор:
      <%=@post.user.email%>
    </span>
  </h1>
  <%= image_tag @post.photo, width:500, height:300 %>
  <p>
    <%= @post.body%>
  </p>
  <div id="images">
    <% @post.images.each do |image|%>
      <%= image_tag image,height:300%>
    <%end%>
  </div>
    <%= render "comments/form", object: @post%>
    <div style="padding: 20px">
    Коментарі:
    <%=render @comments %>
  </div>
</div>
