<div class="col">
  <h1>
    <%= @post.title%>
  </h1>
  <%= image_tag @post.photo, width:500, height:500 %>
  <p>
    <%= @post.body%>
  </p>
  <div class="col">
    <% @post.images.each do |image|%>
      <%= image_tag image, width:300, height:300%>
    <%end%>
  </div>
  <div class="comments">
    <%if user_signed_in?%>
      <%= render "comments/form"%>
    <% end %>
    Коментарі:
    <%= render @comments %>
  </div>
  <% if user_signed_in? %>
    <% if @post.username.eql? current_user.email %>
      <span class="p-2 text-dark"><%= link_to "Редагувати", edit_post_path(@post), :class => "btn btn-outline-success" %></span>
  <% end %>
<% end %>
<%= link_to "На головну", root_path , :class => 'btn btn-warning' %>
</div>
<h4>Автор посту: <%= @post.username %></h4>
