<!DOCTYPE html>
<html>
  <head>
    <title>Lesson1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <p class="h5 my-0 me-md-auto fw-normal">Mini-Blog</p>
      <nav class="my-2 my-md-0 me-md-3">
        <div class="row-3">
          <span class="p-2 text-dark"><%= link_to "Створити нову статтю", new_post_path(@post), :class => 'btn btn-warning' %></span>
          <span class="p-2 text-dark"><%= link_to "Увійти", user_session_path, :class => 'btn btn-warning' %></span>
          <span class="p-2 text-dark"><%= link_to "Зареєструватись", new_user_registration_path, :class => 'btn btn-warning' %></span>
          <%if user_signed_in?%>
            <span class="p-2 text-dark"><%= link_to "Вийти", destroy_user_session_path, method: :delete, :class => 'btn btn-warning' %></span>
          <% end %>
        </div>
      </nav>
      <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
    </header>
    <%= yield %>
  </body>
</html>
